<ion-header>
  <ion-navbar>
    <ion-title>
      Acerca de...
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
 <p><b>Calculadora Paypal</b></p>
 <p>Una aplicacion creada por <b>DSA</b></p>
 <p>Correo de contacto: desarrollo.aa.servicios@gmail.com</p>
</ion-content>
