<ion-header>
  <ion-navbar>
    <ion-title>Calculadora Paypal</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p ion-text color="primary">Cantidad</p>
        <p id="amount">0</p>
      </ion-col>
      <ion-col>
        <p ion-text color="primary">Comision</p>
        <p i>5.4% + 0.30$</p>
      </ion-col>
      <ion-col>
        <p ion-text color="primary">Recibe</p>
        <p id="receive">0</p>
      </ion-col>
      <ion-col>
        <p ion-text color="primary">Enviar</p>
        <p id="send">0</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button color="danger" block (click)="delete()">C</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button block (click)="addNumber(1)">1</button>
      </ion-col>
      <ion-col>
        <button ion-button block (click)="addNumber(2)">2</button>
      </ion-col>
      <ion-col>
        <button ion-button block (click)="addNumber(3)">3</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button block (click)="addNumber(4)">4</button>
      </ion-col>
      <ion-col>
        <button ion-button block (click)="addNumber(5)">5</button>
      </ion-col>
      <ion-col>
        <button ion-button block (click)="addNumber(6)">6</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button block (click)="addNumber(7)">7</button>
      </ion-col>
      <ion-col>
        <button ion-button block (click)="addNumber(8)">8</button>
      </ion-col>
      <ion-col>
        <button ion-button block (click)="addNumber(9)">9</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button block (click)="addNumber(0)">0</button>
      </ion-col>
      <ion-col>
        <button ion-button block (click)="addNumber('.')">.</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
